config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
lombok.setter.flagUsage = error
lombok.data.flagUsage = error
lombok.value.flagUsage = error
lombok.sneakyThrows.flagUsage = error
lombok.var.flagUsage = error
lombok.val.flagUsage = error
lombok.log.fieldName = log
